@font-face {
  font-family: 'defaultFont';
  src: url('./defaultFont.ttf') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'defaultFont';
  src: url('./defaultFontBold.ttf') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'defaultFont';
  src: url('./defaultFontLight.ttf') format('woff');
  font-weight: lighter;
  font-style: normal;
}
